<div class="card ml-auto mr-auto z-depth-0 border border-light" style="max-width: 400px; margin-top: 15%;">
    <h4 class="card-header light-blue lighten-1 white-text text-uppercase text-center py-3">Login</h4>
    <form name="vm.form" class="card-body" ng-submit="vm.login()">
        <div ng-show="vm.error" style="text-align: center; margin: 0 0 25px;" class="alert alert-danger">
            <span>{{ vm.error }}</span>
        </div>

        <div class="form-group" ng-messages="vm.form.email.$error" role="alert">
            <label for="email">E-mail</label>
            <input name="email" type="email" id="email" ng-model="vm.model.email" ng-class="vm.form.email.$invalid && vm.form.email.$dirty ? 'form-control is-invalid' : 'form-control'" ng-pattern="/^\w+([-+.']\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*$/" required ng-minlength="6" ng-maxlength="60" class="form-control">

            <div class="invalid-feedback" ng-message="required">Informe seu email</div>
            <div class="invalid-feedback" ng-message="minlength || maxlength || pattern">O e-mail informado não é válido</div>
        </div>

        <div class="form-group" ng-messages="vm.form.password.$error" role="alert">
            <label for="password">Senha</label>
            <input name="password" id="password" type="password" ng-model="vm.model.password" ng-class="vm.form.password.$invalid && vm.form.password.$dirty ? 'form-control is-invalid' : 'form-control'" required ng-minlength="6" ng-maxlength="15" class="form-control">

            <div class="invalid-feedback" ng-message="required">Informe sua senha</div>
            <div class="invalid-feedback" ng-message="minlength || maxlength">A senha deve conter no minímo 6 e no máximo 15 caracteres</div>
        </div>

        <div class="btn-group-flex">
            <button class="btn btn-outline-amber waves-effect waves-light btn-rounded w-100 px-1" type="button" ui-sref="register">Cadastrar-se</button>
            <button class="btn btn-amber waves-effect waves-light btn-rounded w-100 px-1" type="submit" ng-disabled="vm.form.$invalid || vm.form.$submitted">Login</button>
        </div>
    </form>
</div>

